# Global rule:
* @Bandwidth/band-programmable-voice @Bandwidth/band-programmable-voice-github-repo-admin @Bandwidth/band-voice-programmable-voice @Bandwidth/band-voice-programmable-voice-github-repo-admin